@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&family=Russo+One&display=swap");

:root {
  /* colors */
  --blood-red: #e2162e;
  --cga-cyan: #39a4a9;
  --primary-text-color: #c9c0cc;
  --bg-color: #222430;

  /* spacing and sizes */
  --spacing-size: 1rem;
  --border-size: 6px;
  --paragraph-line-height: 1.5rem;
  --main-heading-letter-spacing: 0.45rem;
  --heading-letter-spacing: 0.15rem;
  --heading-padding: 3px 15px;
  --border-radius: 3px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background-image: url("../images/bg.jpg");
}

ul {
  list-style-type: none;
}

main {
  width: 90%;
  margin: var(--spacing-size) auto;
}

header {
  padding: 0.8rem;
  /* padding-bottom: 0.25rem; */
  border-bottom: groove var(--border-size) var(--blood-red);
}

/* Colors */
.red-text {
  color: var(--blood-red);
}

.blue-text {
  color: var(--cga-cyan);
}

/* headings */
.main-title {
  text-transform: uppercase;
  letter-spacing: var(--main-heading-letter-spacing);
  font-size: 2.3rem;
}

.skills-list {
  color: var(--primary-text-color);
  font-weight: bold;
  padding: 0;
  margin-bottom: 0;
}

.primary-header {
  background-color: var(--blood-red);
  color: var(--bg-color);
  border-radius: var(--border-radius);
  padding: var(--heading-padding);
  box-shadow: 0 0 15px black;
  letter-spacing: var(--heading-letter-spacing);
  margin-bottom: var(--spacing-size);
}

.secondary-header {
  letter-spacing: var(--heading-letter-spacing);
  font-size: 0.85rem;
  padding-top: 7px;
  margin-bottom: var(--spacing-size);
}

/* fancy settings are for the circle things that appear on the left of the content */

.fancy-container {
  display: flex;
}

/* fancy-side is just the single border that appears on the left */

.fancy-side {
  width: calc(var(--border-size) + 25px);
}

.fancy-side.red {
  border-left: groove var(--border-size) var(--blood-red);
}

.fancy-side.blue {
  border-left: groove var(--border-size) var(--cga-cyan);
}
.fancy-side.dashed {
  border-left-style: dotted;
}

/* the circle itself */
.fancy-side::before {
  content: "";
  height: 15px;
  width: 15px;
  background-color: var(--bg-color);
  display: inline-block;
  border-radius: 500px;
  transform: translateX(-58%);
}

.fancy-side.red::before {
  border: groove 10px var(--blood-red);
}

.fancy-side.blue::before {
  border: groove 10px var(--cga-cyan);
}

/* content has to be placed inside of a div because the fancy-container 
   is a flex box. */
.inner-content {
  width: 100%;
  overflow: hidden;
}

.inner-content p {
  color: var(--primary-text-color);
  line-height: var(--paragraph-line-height);
  margin-bottom: var(--spacing-size);
}

.links-list {
  display: flex;
  padding-bottom: 5rem;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

li.link a {
  color: var(--cga-cyan);
  font-weight: bold;
  text-decoration: none;
}

li.link a:visited {
  color: var(--cga-cyan);
}

.image-container {
  display: flex;
  overflow-x: scroll;
  justify-content: space-between;
  gap: 2rem;
  width: 90%;
}

.image-container img {
  display: block;

  width: 300px;
  height: auto;
}
